
.button {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    border: none;
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    margin: 0;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover{
    background-color: darkgray;
}

.button::shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: gray;
    border-radius: 6px;
    display: inline-block;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid rgb(82, 82, 82);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.span {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 15px 32px;
    border-radius: 5px;
    display: inline-block;
    background-color: gray;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}